/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/[Ll]ogs/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.meta

/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
